<!--
<div class="container mt-5">
  <h2 class="text-center">List of Products</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-sm-3 mb-4">
      <div class="card border-danger " style="width: 100%">
        <img [src]="product.url" alt="{{product.name}}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <p class="card-text"><strong>${{product.price}}</strong></p>
          <p class="card-text"><small>{{product.category}}</small></p>
          <button class="btn btn-primary" style=" padding: 10px ;margin-left: 60px">Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>

-->
<div class="row">
  <div *ngFor="let product of products,let i=index">
    <app-product-itm [productItm]="products[i]" (selectedProduct)="onSelected($event)" ></app-product-itm>
  </div>
</div>

